@charset "UTF-8";
body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: red; }

.hidden {
  display: none; }

.main_head {
  min-height: 620px;
  padding-top: 20px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.logo_container {
  float: left; }

svg {
  height: 60px;
  width: 60px;
  z-index: 100;
  position: relative; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  float: right;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 100;
  border: none; }

/*╨С╤Г╤В╨╡╤А╨▒╤А╨╛╨┤ ╨║╨╜╨╛╨┐╨║╨╕ ╨╝╨╡╨╜╤О */
body {
  background-color: #333; }

.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }
  .sandwich > span {
    display: block; }

.sw-topper {
  position: relative;
  top: 0;
  width: 34px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s; }

.sw-bottom {
  position: relative;
  width: 34px;
  height: 3px;
  top: 6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 34px;
  height: 3px;
  top: 12px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 8px;
  transform: rotate(135deg); }
.sandwich.active .sw-bottom {
  top: 5px;
  transform: rotate(-135deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top_mnu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
  right: 0;
  top: 0; }
  .top_mnu ul {
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-top: 280px; }

.top_mnu a {
  color: #fff;
  height: 50px;
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  transition: background-color 1s linear, color 1s 1s ease-in-out, width 1s 2s ease;
  -moz-transition: background-color 1s linear, color 1s 1s ease-in-out, width 1s 2s ease;
  -webkit-transition: background-color 1s linear, color 1s 1s ease-in-out, width 1s 2s ease;
  -o-transition: background-color 1s linear, color 1s 1s ease-in-out, width 1s 2s ease; }
  .top_mnu a span {
    display: block;
    position: relative;
    top: -35px;
    left: 0;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .top_mnu a span:hover {
      background-color: rgba(255, 255, 255, 0.15); }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  .top_wrapper .top_text {
    display: inline-block; }
    .top_wrapper .top_text h1 {
      display: inline-block;
      padding: 10px 30px;
      color: #fff;
      border: 8px solid #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.8em;
      background-color: rgba(0, 0, 0, 0.4);
      box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 50px;
      margin-left: 20px;
      margin-right: 20px; }
    .top_wrapper .top_text p {
      margin: 0;
      text-transform: uppercase; }

.h_opacify {
  opacity: 0.2;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.toggle_mnu {
  background-color: #000; }

.clock {
  color: #333;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  transition: all 1s ease-in; }

section, .main_head {
  position: relative; }

section {
  padding: 70px 0; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 20px; }

hr {
  width: 300px; }

.s_descr_wrap {
  text-align: center; }

.s_descr {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  position: relative; }
  .s_descr::after {
    content: "";
    height: 1px;
    width: 150px;
    background-color: #000;
    position: absolute;
    margin-left: -75px;
    left: 50%;
    margin-top: 60px; }

/*# sourceMappingURL=main.css.map */
